.nav {
  display: block;
}

.nav-bar {
  display: block;
}

h1, h2 pre {
  color: #2c3e50;
  font-family: Futura, "Trebuchet MS", Arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  max-height: 55%;
}

li, a {
  font-family: Futura, "Trebuchet MS", Arial;
  display: inline-flex;
  color: black;
  text-align: left;
  padding: 10px;
  text-decoration: none;
  float: right;
}
