h1, h2 {
  color: green;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  max-height: 55%;
}

li, a {
  font-family: Futura, "Trebuchet MS", Arial;
  display: inline-flex;
  color: black;
  text-align: left;
  padding: 10px;
  text-decoration: none;
  float: right;
}